* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rojo: #FF5252;
    --ambar:#f59e0b;
    --verde: #4CAF50;
    --blanco: 255, 255, 255;
    --gris: #cbd5e1;
    --grisazulado:#64748b;
    --azulgrisaceo:#334155;
    --azul: #3700B3;
    --cian:#38bdf8;
    --dorado: #FFD600;
    --negro: #121212;
    --purpura: #BB86FC;
    --lavanda : #818cf8;
}

html {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 750px;
    flex: 1;
    border: 1px solid var(--g);
    display: grid;
    grid-template-areas:
        "informacion canvas botones"
        "controles controles controles";
    grid-template-columns: minmax(100px, 15%) minmax(300px, 70%) minmax(100px, 15%);
    grid-template-rows: 1fr min-content;
    gap: 1rem;
    padding: 1rem;
}

#informacion {
    /* border: 1px solid var(--azulgrisaceo); */
    grid-area: informacion;
    gap: 1rem;
}

#informacion span {
    color: var(--gris);
    align-content: center;
    border: 1px solid var(--gris);
    border-radius: 20px;
}

#informacion div {
    color: var(--cian);
    align-content: center;
    border: 1px solid var(--cian);
}


#botones {
   /* border: 1px solid var(--azulgrisaceo); */
    grid-area: botones;
    gap: 2rem;
}

#botones button {
    color: var(--gris);
}

#iniciar{
    background-color: var(--verde);
    border: 1px solid var(--verde);
}

#reiniciar{
    background-color: var(--ambar);
    border: 1px solid var(--ambar);
}

#guardar{
    background-color: var(--azul);
    border: 1px solid var(--azul);
}

#salir{
    background-color: var(--rojo);
    border: 1px solid var(--rojo);
}

#informacion,
#botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
}

#informacion div,
#informacion span,
#botones button {
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
}

canvas {
    border: 3px solid var(--azulgrisaceo);
    border-radius: 10px;
    background-color: rgba(var(--blanco), 0.9);
    grid-area: canvas;
    width: 100%;
    height: 100%;
}


#controles {
    /* border: 1px solid var(--azulgrisaceo); */
    grid-area: controles;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 4rem;
    padding: 5px;
}

#controles button{
    border: 3px solid var(--azul);
    background-color: var(--dorado);
    font-size: 25px;
    border-radius: 7px;
}

#controles button:hover, #botones button:hover {
    transform: scale(1.1);
    background-color: var(--lavanda);
}


footer {
    width: 100%;
    height: 10%;
    min-height: 60px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--azulgrisaceo);
    border-radius: 5px;
    background-color: rgba(var(--blanco), 0.9);
}

footer span {
    color: var(--cian);
    font-size: 20px;
    font-weight: bold;
}